# Learning Python Pandas

## 1. Creating, Reading, Writing

In [2]:
# Importing Pandas
import pandas as pd

## For Data creation:
### Two Core Objects there are which are necessary for the study
### 1. DataFrame
### 2. Series

### Lets Talk about mates that what is DataFrame
### DataFrame:
Its basically a table representing rows and columns like of you can say a matrix 2-Dimensional of our Maths in visualization as of exported from Comma Separated Values File (shortly we say CSV)
### Lets study DataFrame.
So from insights we gather that a DataFrame in Pandas Library is basically an array of individual entries, of which each has some kind of value. Now so we get that there is specific entry and value associated with it. So what these in matrix represent. So each entry corresponds to the row and column

### Example of creating DataFrame

In [5]:
pd.DataFrame({'Yes': [50,20], 'No':[131,2]})

   Yes   No
0   50  131
1   20    2

### Lets get better insights that whats going on here
For creating DataFrame, we are passing dictionary containing (Yes and No) our two columns and Data associated with them. At first row, Yes column has value of 50 and No has 131 and respective next row gets aligned in this same format being explained

In [6]:
pd.DataFrame({'Bob':['I liked it', 'It was awful'], 'Sue':['Pretty Good', 'Band']})

            Bob          Sue
0    I liked it  Pretty Good
1  It was awful         Band

So from above it got explained that DataFrame is not limited to only integers. It can contain any type of data

So now you guys being studying have a question in mind that how this dataFrame is constructing in background

We are basically using the constructor of pd.DataFrame by providing in it the dictionary of data about which we wanna generate. Then the inner implementation detail of pd.DataFrame is doing this magic for us.

Hey mates one second look at above the rows has some number like we can say index as 0 and 1 as there are two rows. So you will now be wondering can we assign our custom indexes or some sort of string in placement of these general indexes. So in answer to your question, answer is yes.

#### Lets do magic. Uhmm Uhmm no magic mates just logic and your dedication

Lets generate the DataFrame of above dictionary of Bob and Sue but now assigning row indexes as Product 1 and Product 2 for our better understanding that which data belongs to which product like stuff

In [9]:
pd.DataFrame({
   'Bob':['I liked it', 'It was awful'], 'Sue':['Pretty Good', 'Band']
}, 
    index = ['Product 1', 'Product 2'])

                    Bob          Sue
Product 1    I liked it  Pretty Good
Product 2  It was awful         Band

### More Talking on DataFrames, mates lets not forget about Series

#### Series:
A Series, by contrast, is a sequence of data values. If a DataFrame is a table, a Series is a list. And in fact you can create one with nothing more than a list

In [10]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

A Series is, in essence, a single column of a DataFrame. So you can assign row labels to the Series the same way as before, using an index parameter. However, a Series does not have a column name, it only has one overall name

In [13]:
pd.Series([30,35,40], 
          index = ['2015 sales', '2016 sales', '2017 sales'],
          name='Product A' )

2015 sales    30
2016 sales    35
2017 sales    40
Name: Product A, dtype: int64

From having a look at both DataFrames and Series 
We can say is that DataFrame as actually being just a bunch of Series "glued together"

### Now Lets read some real data
Data can be stored in any of a number of different forms and formats. By far the most basic of these is the humble CSV file

##### Reading Dataset being downloaded by Kaggle

In [15]:
wine_reviews = pd.read_csv('./winemag-data-130k-v2.csv')

We can use the shape attribute to check how large the resulting DataFrame is:

In [16]:
wine_reviews.shape

(129971, 14)

So from shape we gets to know that there are almost 13000 rows of data being aligned with 14 columns. Terrific thats really a huge amount of data. Lets use head() to check the first five rows and inspect them

In [17]:
wine_reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

The pd.read_csv() function is well-endowed, with over 30 optional parameters you can specify. For example, you can see in this dataset that the CSV file has a built-in index, which pandas did not pick up on automatically. To make pandas use that column for the index (instead of creating a new one from scratch), we can specify an index_col.

In [18]:
wine_reviews = pd.read_csv("./winemag-data-130k-v2.csv", index_col=0)
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks